
.profile-card{
    background: rgb(177, 243, 177);
    width: 20%;
    height: fit-content;
    position: fixed;
    top: 10%;
    left: 75%;
    border-radius: 10px 0 10px 10px  ;
}
.profile-info ul li{
    list-style: none;
    cursor: pointer;
    height: 50px;
    padding-top: 10px;
    padding-left: 5px;
    border-radius: 10px 0  0 10px ;
}
.profile-info ul li:hover{
    background: rgb(140, 201, 140);

}
.profile-info ul li select{
    border-radius: 5px;
    border:none;
    background: rgb(177, 243, 177);
}