.styleimage {
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
   overflow-x: auto;          /* تخلي الصور يتحركو بالـ scroll */
    scroll-snap-type: x mandatory; /* كل صورة توقف بالوسط */
    -webkit-overflow-scrolling: touch; /* smooth scroll فـ الموبايل */
    padding: 20px 0;
    scroll-behavior: smooth;
    
}

.styleimage img {
    flex: 0 0 auto; 
    width: 200px;
    height: 290px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    cursor: pointer;
    opacity: 0.5;
    /* transition: transform 0.8s ease, opacity 0.8s ease; */
    scroll-snap-align: center;
}
.styleimage .center-img{
    width: 230px;
    height: 320px;
    opacity: 1;
    /* transform: translateX(0) scale(1.1); */
    /* transition: all 0.1s ease-in-out */
}
.styleimage .img{
    width: 180px;
    height: 250px;
    opacity: 0.1;
    transition: all 0.4s ease-in-out;
}
/* .styleimage img:hover {
    
} */
